.footer {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.logo {
  height: 1em;
  margin: 5px;
}
